// Measurements
$rem: 10px;

// Colors
$linkBlue: darken(#9ccaff, 50%);
$gray: lighten(#000, 40%);
$primaryBtnBlue: #2d7bff;
$white: #fff;
$reservedTag: #00a4b6;

// Fonts
$montserrat: 'Montserrat', sans-serif;
