@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $rem;
  max-width: 80vw;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding-bottom: 5rem;
}
