@import '../../styles/variables';

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 0 1rem;
}

.nav ul li:nth-child(3) {
  border-right: 0.1rem solid black;
  padding-right: 1rem;
}

.nav ul li:nth-child(4) {
  margin-left: 0;
}

.nav ul li a {
  font-size: 0.8rem;
  color: $linkBlue;
}
