header {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 1.6rem;
}

img {
  width: 2rem;
}
